body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #8ECAE6;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    text-align: center;
    
}

.card img {
    max-width: 100%;
    height: auto;
}
